<!-- <div class="kindergarten-list-back"> -->
  <div class="main-box">
    <div class="kindergarten-box row">
      <div class="kindergarten-back">

        <div class="info">
        <div class="info-top">
        <a><%= link_to(kindergarten.title, kindergarten_path(kindergarten), target: "_blank" )%></a><span><%= kindergarten.created_at.strftime("%Y-%m-%d") %></span>
        </div>
        <div class="info-mid">
          ￥<%= kindergarten.fee %>
        </div>
      </div>

      <div class="connact">
        <div class="connact-mid">
          联系电话：<%= kindergarten.phone %>
          <br/>
          <sapn class="fa fa-envelope"></sapn><span><%= kindergarten.user.email %></span>
          <br/>
          <%= link_to like_kindergarten_path(kindergarten), method: :put do %>
          <div class="pi-heart">
            <i class="fa fa-heart fa-1x" , style="color:#ff5722;"></i>
            <%= kindergarten.get_upvotes.size %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </div> -->
