<div class="col-md-12">
  <div class="row">
  <div class="kindergarten-index-back">
  <% if current_user && current_user.admin? %>
    <h1 class="text-center"><br/>Welcom back to Edelweiss!<br/>欢迎回到雪绒花！</h1>
  <% else %>
  <h1 class="text-center"><br/>Welcom to Edelweiss！<br/>欢迎来到雪绒花！</h1>
  <% end %>
    <form>

<div class="dropdown2">
<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("学费", kindergartens_path(:order => "by_fee")) %>
        </li>
        <li>
            <%= link_to("?", kindergartens_path(:order => "#")) %>

        </li>
        <li>
          <%= link_to("按照发表时间排序", kindergartens_path ) %>

        </li>
    </ul>
  </div>
</div>

<div class="tab">
      	<ul class="tabs">
      		<li><a href="" >Form</a></li>
      		<li><a href="" >Table</a></li>
      	</ul>


        <div class="tab_content">

      		<div class="tabs_item">
            <%= render partial: "index_form", collection: @kindergartens, as: :kindergarten %>
		      </div><!-- app/views/kindergartens/_index_form.html.erb -->
        		<div class="tabs_item">
              <div class="container_table">
                <table class="table">
                  <thead>
                    <tr>
                      <th>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;名称</th>
                      <th>价格</th>
                      <th>联系电话</th>
                      <th>E-mail</th>
                    </tr>
                  </thead>
                  <%= render partial: "index_table", collection: @kindergartens, as: :kindergarten %>
                </table>
              </div>
        		</div>

           <!-- app/views/kindergartens/_index_table.html.erb -->
          <div class="text-center">
            <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
          </div>
      	</div> <!-- / tab_content -->
      </div>
    </form>
  </div>
</div>
</div>
<!-- / 2-D codebars-->
<div id="overlay" onclick="off()">
<div id="text">手机扫一扫，分享给好友~
<%= raw @qr.as_html %></div>
</div>
<div style="padding:20px">
<button onclick="on()">点击生成当前网页二维码</button>
</div>
<script>
function on() {
document.getElementById("overlay").style.height = "100%";
}
function off() {
document.getElementById("overlay").style.height = "0";
}
</script>
