<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("学费", kindergartens_path(:order => "by_fee")) %>
        </li>
        <li>
            <%= link_to("?", kindergartens_path(:order => "#")) %>

        </li>
        <li>
          <%= link_to("按照发表时间排序", kindergartens_path ) %>

        </li>
    </ul>
</div>



<div class="kindergarten-list-back">

<div class="main-box">
  <% @kindergartens.each do |kindergarten| %>
  <div class="col-md-9 col-xs-9 kindergarten-box row">
    <div class="kindergarten-back">
      <div class="info">
        <div class="info-top">
          <h3><%= link_to(kindergarten.title, kindergarten_path(kindergarten), target: "_blank" )%></h3><span><%= kindergarten.created_at.strftime("%Y-%m-%d") %></span>
        </div>
        <div class="info-mid">
          ￥<%= kindergarten.fee %>
        </div>

      </div>

        <div class="connact">
          <div class="connact-mid">
          联系电话：<%= kindergarten.phone %>
          <br/>
          <sapn class="fa fa-envelope"></sapn><span><%= kindergarten.user.email %></span>
          <br/>

        </div>
      </div>


  </div>
</div>
<% end %>
</div>
<div class="text-center">
<%= will_paginate @kindergartens, renderer: BootstrapPagination::Rails %>
</div>
</div>
