<div class="kindergarten-show-back">

<h1> <%= @kindergarten.title %> </h1>

<p>
  <%= link_to("Write a Post", new_kindergarten_post_path(@kindergarten), class: "btn btn-default pull-right")%>
  <span class="pull-right">
  <% if current_user && current_user.is_member_of?(@kindergarten) %>
    <label class="label label-success"> 群组成员 </label>
        <%= link_to("Quit kindergarten", quit_kindergarten_path(@kindergarten), method: :post, class: "btn btn-default") %>
  <% else %>
    <label class="label label-warning"> 不是群组成员 </label>
        <%= link_to("Join kindergarten", join_kindergarten_path(@kindergarten), method: :post, class: "btn btn-default") %>
  <% end %>
</span>
</p>

<div class="show-table">

   <table class="table table-boldered table-striped custab">
     <thead>
      <tr>
         <th>文章内容</th>
         <th>发表者</th>
         <th>发表时间</th>
       </tr>
     </thead>
     <tbody>
       <% @posts.each do |post| %>
         <tr>
           <td><%= post.content %></td>
           <td><%= post.user.email %></td>
           <td><%= post.created_at %></td>
         </tr>
       <% end %>
     </tbody>
   </table>

</div>
</div>
