
<h1> Edit a kindergarten </h1>

<%= simple_form_for [:admin, @kindergarten ] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :fee, :label => "学费" %>
<%= f.input :phone, :label => "联系电话" %>


  <%= f.submit "Submit" %>
<% end %>
