<!DOCTYPE html>
<html>
  <head>
    <title>Moli</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
          <%= render "common/navbar" %>
          <div id="bk1" class="container-fluid">
          <%= render "common/flashes" %>
          <%= yield %>
          <div class="push"></div>
        </div>
    </div>

      <%= render "common/footer" %>

  </body>
</html>
